// ==========================================================================
// Header
// ==========================================================================

body {
  background-color: #234080;
}

body>.content {
  margin: 212px 332px 0 16px;
}


#header-bottom-left {
  top: 164px;
}
