// ==========================================================================
// Main
// ==========================================================================


.content {
  border: 1px solid transparent;
}


.link {
  background-color: #FFF;
}
