// ==========================================================================
// Post
// ==========================================================================

.commentarea>.usertext {
  background-color: #EAF5FF;
}
.commentarea .sitetable .comment {
  background-color: #FFEAEA;
}
