// ==========================================================================
// Sidebar
// ==========================================================================


.side {
  background-color: $sidebar-color;
  box-shadow: 2px 4px 3px transparent;
  margin:290px 16px 0 0;
  &:hover {
    box-shadow: 2px 4px 3px $sidebar-color;
  }
}


#search {
  top: 176px;
}

.morelink {
  top: 228px;
}
