// ==========================================================================
// Color Config
// ==========================================================================


// general

$var-black: #000;
$var-blue: #3b5998;
$var-white: #fff;
$var-red: #ca2026;
$var-yellow: #ffd850;
$var-purple: #6b1769;
$var-pink: #eb2048;
$var-orange: #e35b20;
$var-grey: #a6a6a6;


// third jersey theme

$link-bg: #EFEDE3;
$link-color: #6C0307;
$sidebar-color: #EFEDE3;



// mod section
$mod-green: #19bd19;
$mod-alt-green: #4cc94c;
$mod-grey: #676767;
$mod-alt-grey: #4c4c4c;
$mod-light-grey: #cbcbcb;
$mod-red: #bf4545;
$mod-alt-red: #ba3333;
$mod-headers: #c6c6c6;
$mod-blue: #00a8ff;

// lighter

$var-light-purple: #F5F5FF;
$var-light-blue: #3874fc;
$var-light-brown: #c89863;
$var-lighter-brown: #f8d688;
$var-light-grey: #efefef;

// dark

$var-dark-grey: #191919;
$var-dark-green: #293935;
$var-dark-browngrey: #3B3936;
$var-dark-brown: #5C4233;
$var-dark-red: #802C3E;
$var-dark-orange: #A05125;

// structure

$var-column: #848484;

// cool pallate

$var-cool-red: #885053;
$var-cool-green: #66A182;
$var-cool-orange: #FA8144;
$var-cool-blue: #2E4057;
$var-cool-melon: #CAFFB9;
$var-cool-lime: #AEF78E;
$var-cool-army: #C0D461;

// pastel pallate

$var-pastel-brown: #4C2E05;
$var-pastel-green: #7A8450;
$var-pastel-grey: #AEBD93;
$var-pastel-lime: #BEE7B8;
$var-pastel-purple: #95969D;

// shades pallate

$var-shade-green: #404E5C;
$var-shade-grey: #4F6272;
$var-shade-purple: #B7C3F3;
$var-shade-pink: #DD7596;
$var-shade-hotpink: #CF1259;

// bower pallate

$var-bower-brown: #543729;
$var-bower-yellow: #FFCC2F;
$var-bower-grey: #EEE;
$var-bower-blue: #008EC4;
$var-bower-red: #EF5734;
$var-bower-shadow: #CCC;
