// ==========================================================================
// Color Config
// ==========================================================================


// general

$var-black: #000;
$var-blue: #3b5998;
$var-white: #fff;
$var-red: #ca2026;
$var-yellow: #ffd850;
$var-purple: #6b1769;
$var-pink: #eb2048;
$var-orange: #e35b20;
$var-grey: #a6a6a6;

$sidebar-color: #fff;

$link-bg: #fff;
$link-color: #6C0307;
$link-hover-bg: #F5F4EC;
