@charset "UTF-8";
.wrapper, .row {
  /* *zoom: 1; */ }
  .wrapper:before, .row:before, .wrapper:after, .row:after {
    content: " ";
    display: table; }
  .wrapper:after, .row:after {
    clear: both; }

.wrapper.center, .row.center, [class*='column-'].center {
  text-align: center; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

a img {
  border: none; }

img {
  width: auto;
  max-width: 100%;
  height: auto; }
  img.img-fluid {
    width: 100%; }

input[type="submit"] {
  -webkit-appearance: none; }

.wrapper {
  width: 100%;
  padding: 0 2em; }
  @media only screen and (max-width: 30em) {
    .wrapper {
      padding: 0 1em; } }

@media only screen and (max-width: 30em) {
  .row {
    padding: 0; } }

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

.column-1 {
  width: 8.3333333333%; }

.column-2 {
  width: 16.6666666667%; }

.column-3 {
  width: 25%; }

.column-4 {
  width: 33.3333333333%; }

.column-5 {
  width: 41.6666666667%; }

.column-6 {
  width: 50%; }

.column-7 {
  width: 58.3333333333%; }

.column-8 {
  width: 66.6666666667%; }

.column-9 {
  width: 75%; }

.column-10 {
  width: 83.3333333333%; }

.column-11 {
  width: 91.6666666667%; }

.column-12 {
  width: 100%; }

@media only screen and (max-device-width: 737px) {
  .wrapper {
    width: 95%;
    max-width: 75em; }

  .column-1 {
    width: 100%; }

  .column-2 {
    width: 100%; }

  .column-3 {
    width: 100%; }

  .column-4 {
    width: 100%; }

  .column-5 {
    width: 100%; }

  .column-6 {
    width: 100%; }

  .column-7 {
    width: 100%; }

  .column-8 {
    width: 100%; }

  .column-9 {
    width: 100%; }

  .column-10 {
    width: 100%; }

  .column-11 {
    width: 100%; }

  .column-12 {
    width: 100%; } }
.btn.var-black {
  background-color: #000;
  color: #fff; }
  .btn.var-black:hover {
    background: #000;
    color: #fff; }

.btn.var-blue {
  background-color: #3b5998;
  color: #fff; }
  .btn.var-blue:hover {
    background: #3b5998;
    color: #fff; }

.btn.var-white {
  background-color: #fff;
  color: #fff; }
  .btn.var-white:hover {
    background: #fff;
    color: #fff; }

.btn.var-grey {
  background-color: #a6a6a6;
  color: #fff; }
  .btn.var-grey:hover {
    background: #a6a6a6;
    color: #fff; }

.btn.var-pink {
  background-color: #eb2048;
  color: #fff; }
  .btn.var-pink:hover {
    background: #eb2048;
    color: #fff; }

.btn.var-red {
  background-color: #ca2026;
  color: #fff; }
  .btn.var-red:hover {
    background: #ca2026;
    color: #fff; }

.btn.var-yellow {
  background-color: #ffd850;
  color: #fff; }
  .btn.var-yellow:hover {
    background: #ffd850;
    color: #fff; }

.btn.var-purple {
  background-color: #6b1769;
  color: #fff; }
  .btn.var-purple:hover {
    background: #6b1769;
    color: #fff; }

.btn.var-orange {
  background-color: #e35b20;
  color: #fff; }
  .btn.var-orange:hover {
    background: #e35b20;
    color: #fff; }

.btn {
  padding: 15px 20px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  border-radius: 0px;
  border: 2px solid transprent;
  text-align: center;
  cursor: pointer; }
  .btn.mobile {
    display: none; }
  .btn.block, .btn.submit {
    display: block;
    clear: both;
    width: 100%; }
  .btn.var-white {
    color: #000; }
    .btn.var-white:hover {
      color: #000; }
  .btn.submit {
    width: 50%;
    margin: 15px auto 0; }

/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700); */
/* @font-face {
    font-family: 'Share Tech Mono';
    src: url('/assets/fonts/ShareTechMonoTrue.eot');
    src: url('/assets/fonts/ShareTechMonoTrue.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/ShareTechMonoTrue.woff') format('woff'),
         url('/assets/fonts/ShareTechMonoTrue.ttf') format('truetype'),
         url('/assets/fonts/ShareTechMonoTrue.svg#ShareTechMonoTrue') format('svg');
    font-style: normal;
    font-weight: normal;
} */
/*
		Naut 3.2
		by Cryptonaut

		-------------------------------------------------------------------------- */
*, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  background-color: #eee;
  min-width: 820px; }

a {
  color: #4F8EF7;
  transition: color .15s ease; }

::focus {
  outline: none !important; }

input:not([type="submit"]), textarea, .roundfield textarea, .roundfield input[type=text], .roundfield input[type=url], .roundfield input[type=password], .roundfield input[type=number], .linefield textarea, .linefield input[type=text], .linefield input[type=password], .pretty-form input[type=text], .pretty-form textarea, .pretty-form input[type=password], .pretty-form input[type=number], .login-form-side input[type=text], .login-form-side input[type=password] {
  box-shadow: none !important;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  color: #707070;
  transition: all 0.15s ease !important; }

input:hover, textarea:hover, .roundfield textarea:hover, .roundfield input[type=text]:hover, .roundfield input[type=url]:hover, .roundfield input[type=password]:hover, .roundfield input[type=number]:hover, .linefield textarea:hover, .linefield input[type=text]:hover, .linefield input[type=password]:hover, .pretty-form input[type=text]:hover, .pretty-form textarea:hover, .pretty-form input[type=password]:hover, .pretty-form input[type=number]:hover, .login-form-side input[type=text]:hover, .login-form-side input[type=password]:hover {
  border-color: #C5C5C5; }

input:active, textarea:active, .roundfield textarea:active, .roundfield input[type=text]:active, .roundfield input[type=url]:active, .roundfield input[type=password]:active, .roundfield input[type=number]:active, .linefield textarea:active, .linefield input[type=text]:active, .linefield input[type=password]:active, .pretty-form input[type=text]:active, .pretty-form textarea:active, .pretty-form input[type=password]:active, .pretty-form input[type=number]:active, .login-form-side input[type=text]:active, .login-form-side input[type=password]:active {
  outline: none !important;
  border-color: #4F8EF7;
  color: #4D5763; }

.btn, button {
  margin: 4px 16px 4px 0;
  padding: 2px 18px;
  background-color: #1c5cac;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 700;
  cursor: default;
  transition: all .25s ease;
  height: 32px;
  font-size: 12px; }

.btn:hover, button:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.34);
  background-color: #5A72EE; }

.btn:active, button:active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
  background-color: #4059DB; }

.btn:focus, button:focus {
  outline: none; }

#header {
  margin: 0;
  height: 0;
  border: none; }

#sr-header-area {
  background-color: rgba(0, 0, 0, 0.05);
  border: 0 solid;
  transition: all .15s ease;
  height: 24px;
  line-height: 23px; }

#sr-header-area .width-clip {
  right: 300px; }

body:not(.loggedin) #sr-header-area .width-clip {
  right: 340px; }

#sr-header-area .sr-list {
  margin-right: 48px; }

#sr-header-area .sr-bar a, #sr-more-link, #sr-header-area .separator, #sr-header-area .dropdown.srdrop .selected {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  transition: all .15s ease; }

#sr-header-area:hover .sr-bar a, #sr-header-area:hover #sr-more-link, #sr-header-area:hover .seperator, #sr-header-area:hover .dropdown.srdrop .selected {
  color: white; }

#sr-header-area .sr-bar a:hover, #sr-more-link:hover, #sr-header-area .dropdown.srdrop .selected:hover {
  background-color: transparent;
  border: 0 solid;
  transition: all .15s ease; }

a.random.choice {
  padding-top: 2px;
  position: relative;
  display: inline-block;
  margin-top: -2px; }

#sr-header-area .dropdown.srdrop .selected {
  margin: 0 12px 0 8px;
  padding: 0;
  background-image: none; }

#sr-header-area .dropdown.srdrop .selected:hover {
  text-decoration: underline; }

#sr-header-area .dropdown.srdrop .selected:after {
  position: relative;
  content: "▼";
  margin-left: 4px;
  font-size: 10px; }

#sr-header-area .drop-choices.srdrop {
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15); }

#sr-header-area .drop-choices a.choice {
  border-bottom: 1px solid #edeeee;
  color: #4D5763;
  padding: 2px; }

#sr-header-area .drop-choices a.choice:hover {
  background-color: #f1f1f1; }

#header-img.default-header, #header-img {
  z-index: 99;
  width: 0;
  padding-left: 48px;
  height: 48px;
  background-image: url(%%spritesheet%%);
  background-position: -208px -48px;
  position: relative;
  top: 0;
  margin: 0; }

#header-img.default-header:hover, #header-img:hover {
  background-position: -208px -96px; }

#header .pagename {
  font-size: 0; }

#header .pagename a {
  display: inline-block;
  color: #fff;
  font-size: 22px;
  padding: 11px;
  font-weight: 700;
  position: relative;
  top: 0;
  font-family: arial;
  margin: 0 4px;
  vertical-align: top;
  transition: background-color .25s ease;
  font-variant: normal; }

#header .pagename a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.08); }

#header .pagename a:before {
  content: "/r/";
  font-size: 18px;
  font-variant: normal;
  letter-spacing: 1px; }

#header-bottom-left {
  position: absolute;
  top: 36px;
  left: 16px; }

#header .tabmenu {
  border: none;
  margin: 0; }

#header .tabmenu ul li {
  margin: 0 !important; }

#header .tabmenu li a {
  display: inline-block;
  margin: 0 7px;
  padding: 16px;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  font-family: Arial,sans-serif;
  transition: color .25s ease,background-color .25s ease;
  color: #fff; }

#header .tabmenu li a, .pagename a {
  text-shadow: 0 1px 8px rgba(0, 0, 0, 0.5); }

#header .tabmenu li a:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.08); }

#header .tabmenu li.selected a {
  padding: 16px 16px 14px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  color: white;
  font-weight: 700; }

#header .tabmenu li.selected a:hover {
  background-color: rgba(0, 0, 0, 0.08); }

.listing-page .tabmenu li > a[href$="/rising/"], .wiki-page .tabmenu li > a[href$="/rising/"], .listing-page .tabmenu li > a[href$="/controversial/"], .wiki-page .tabmenu li > a[href$="/controversial/"], .listing-page .tabmenu li > a[href$="/promoted/"], .wiki-page .tabmenu li > a[href$="/promoted/"], .listing-page .tabmenu li > a[href$="/gilded/"], .wiki-page .tabmenu li > a[href$="/gilded/"] {
  display: none !important; }

.side {
  margin: 200px 16px 0 0;
  padding: 6px 16px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16); }

#header-bottom-right {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  max-width: 300px;
  height: 24px;
  background-color: transparent;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.45);
  padding: 5px 8px 4px 2px; }

body:not(.loggedin) #header-bottom-right {
  max-width: 340px; }

#header-bottom-right a {
  color: #fff; }

#header-bottom-right a:hover {
  text-decoration: underline; }

.user .userkarma {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.45);
  border: none;
  font-size: 9px;
  transition: all .15s ease; }

.separator, .user {
  color: rgba(255, 255, 255, 0.45); }

#mail, #modmail {
  width: 16px;
  height: 14px;
  background-image: url(%%spritesheet%%) !important;
  background-repeat: no-repeat !important;
  background-color: transparent;
  transition: all .25s ease; }

#mail {
  top: -2px;
  overflow: visible; }

#mail.nohavemail {
  background-position: -32px -0; }

#mail.havemail {
  background-position: -32px -16px;
  opacity: 1; }

.message-count {
  background-color: #f50;
  position: relative;
  top: -1px; }

#mail.havemail:before {
  position: fixed;
  padding: 16px 24px;
  bottom: 24px;
  z-index: 100;
  background-color: #EA4848;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
  color: #fff;
  width: 300px;
  height: 48px;
  left: 24px;
  content: "You have new messages!";
  text-indent: 0;
  font-size: 14px;
  font-family: arial,sans-serif;
  line-height: 1;
  -webkit-transform: translateY(112px);
  transform: translateY(112px);
  transition: background-color .25s ease,box-shadow .25s ease;
  background-image: url(%%spritesheet%%);
  background-position: 269px -32px;
  background-repeat: no-repeat; }

#mail.havemail:hover:before {
  background-color: #ec5b5b;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.48); }

#mail.havemail:active:before {
  background-color: #c73d3d;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.76); }

#modmail {
  top: -3px; }

#modmail.nohavemail {
  background-position: -48px -0; }

#modmail.havemail {
  background-position: -48px -16px;
  opacity: 1; }

#header-bottom-right a.pref-lang, .loggedin .logout a {
  background-position: -0 -16px;
  background-image: url(%%spritesheet%%);
  width: 16px;
  height: 14px;
  display: inline-block;
  text-indent: -9999px;
  margin: 0;
  position: relative;
  top: -1px;
  transition: all .25s ease; }

.loggedin .logout a {
  background-position: -16px -0; }

.side:after {
  display: block;
  margin: 10px 0;
  padding: 10px 0;
  color: #5B92FA;
  text-transform: none;
  font-size: 16px;
  font-family: arial,sans-serif;
  position: absolute;
  width: 300px;
  text-align: center;
  right: 16px; }

#search {
  position: absolute;
  right: 16px;
  top: 96px;
  z-index: 1;
  width: 300px; }

#search input[type=text] {
  padding: 10px 25px 10px 16px;
  border: 0 solid;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24) !important;
  transition: all .25s ease; }

#search input[type=text]:hover {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.32) !important; }

#search input[type=text]:focus {
  border-radius: 2px 2px 0 0;
  outline: none; }

#search input[type=text]:focus:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24) !important; }

#search input[type="text"]:-moz-placeholder {
  font-size: 0; }

#search input[type="text"]::-webkit-input-placeholder {
  font-size: 0; }

#search input[type="text"]:-ms-input-placeholder {
  font-size: 0; }

#search input[type="text"]:-moz-placeholder::after {
  font-size: 14px;
  content: "Search reddit..";
  position: relative;
  top: 1px; }

#search input[type="text"]::-webkit-input-placeholder::after {
  font-size: 14px;
  content: "Search reddit..";
  position: relative;
  top: 1px; }

#search input[type="text"]:-ms-input-placeholder::after {
  font-size: 14px;
  content: "Search reddit..";
  position: relative;
  top: 1px; }

#search input[type=text]::-webkit-input-placeholder {
  color: #B3B3B3; }

#search input[type=text]:-moz-placeholder {
  color: #B3B3B3; }

#search input[type=text]::-moz-placeholder {
  color: #B3B3B3; }

#search input[type=text]:-ms-input-placeholder {
  color: #B3B3B3; }

#search input[type=submit] {
  height: 32px;
  width: 32px;
  margin-left: -38px;
  background-image: url(%%spritesheet%%);
  background-position: -215px -231px;
  background-repeat: no-repeat;
  border: none !important;
  border-radius: 16px;
  background-color: transparent;
  transition: background-color .15s ease; }

#search input[type=submit]:hover {
  background-image: url(%%spritesheet%%);
  background-position: -215px -231px;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.05); }

#search #searchexpando {
  background-color: #f2f2f2;
  border: none;
  border-radius: 0 0 2px 2px;
  margin-top: -5px;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  height: 57px;
  line-height: 45px; }

#search #searchexpando label {
  padding: 18px 8px 17px;
  cursor: pointer;
  transition: all .1s ease; }

#search #searchexpando label:hover {
  background-color: rgba(0, 0, 0, 0.1); }

#search #searchexpando label:active {
  background-color: rgba(0, 0, 0, 0.25); }

#search #searchexpando p {
  display: none !important; }

.morelink {
  position: absolute;
  top: 148px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
  background-color: #516ae8;
  background-image: url(%%spritesheet%%) !important;
  background-position: 268px -214px !important;
  background-repeat: no-repeat !important;
  right: 16px;
  width: 300px;
  height: 36px;
  border-radius: 2px;
  line-height: 36px;
  border: none;
  text-align: left;
  padding: 0 16px;
  transition: all .25s ease;
  font-family: verdana,arial,sans-serif; }

.morelink:hover {
  background-color: #5a72ee;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.24); }

.morelink:active {
  background-color: #4059DB;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6); }

.morelink a {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0; }

.morelink:after {
  content: "Please remember to read the rules. Thank you!";
  padding: 16px;
  width: 300px;
  position: absolute;
  right: 0;
  margin-top: 0;
  display: block;
  background-color: #1c5cac;
  color: #fff;
  letter-spacing: 0;
  z-index: 100;
  opacity: 0;
  transition: all .25s ease;
  transition-delay: 0;
  font-weight: 400;
  line-height: 1.4em;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
  visibility: hidden;
  pointer-events: none; }

.morelink:hover:after {
  margin-top: 16px;
  opacity: 100;
  visibility: visible;
  transition-delay: .25s; }

.disabled .morelink {
  box-shadow: none !important;
  background-color: #CFCFCF; }

.disabled .morelink a {
  color: #4d5763; }

.disabled .morelink:after {
  content: "You must be approved by the moderators in order to submit.";
  background-color: #CFCFCF;
  color: #4d5763; }

.account-activity-box, .sidebox.create, .morelink .nub, .sidebox.submit.submit-text {
  display: none; }

.login-form-side {
  border: none; }

.login-form-side input[type=text], .login-form-side input[type=password] {
  width: 128px; }

.login-form-side button.btn {
  margin-right: -3px; }

.titlebox h1 {
  color: #4d5763;
  margin-bottom: 6px; }

.titlebox span.subscribers, .titlebox .users-online, .titlebox .number {
  color: #999;
  font-size: 12px;
  position: relative;
  top: -2px;
  left: -2px; }

div.titlebox span.word {
  display: none; }

.titlebox .users-online {
  display: inline; }

.titlebox .users-online:before {
  display: none; }

div.titlebox span.number:after {
  content: " readers,"; }

.titlebox .users-online .number {
  font-style: italic; }

.titlebox .users-online .number:before {
  content: ""; }

.titlebox .users-online .number:after {
  content: " here"; }

.titlelebox .word {
  display: none; }

.titlebox .users-online, .titlebox .number {
  cursor: text; }

.titlebox .tagline {
  font-size: 12px;
  margin: 0; }

.titlebox .tagline:after {
  content: "";
  height: 2px;
  background-color: #f2f2f2;
  display: block;
  margin-top: 16px; }

.titlebox .tagline a.flairselectbtn {
  color: #4F8EF7; }

.titlebox .tagline a.flairselectbtn:after {
  content: " flair"; }

.titlebox .tagline .flair:before {
  content: ""; }

.titlebox form.toggle.flairtoggle, .leavemoderator, .titlebox .tagline a.author, .sidebox .subtitle {
  display: none; }

.titlebox form.toggle.sr_style_toggle {
  padding: 0;
  display: block; }

.titlebox form.toggle.sr_style_toggle label {
  position: relative;
  top: -3px; }

.res form.toggle.sr_style_toggle {
  margin: -20px 0 18px; }

.titlebox .fancy-toggle-button {
  position: relative; }

.titlebox .fancy-toggle-button .add, .titlebox .fancy-toggle-button .remove {
  text-indent: -9999px;
  height: 48px;
  width: 48px;
  position: absolute;
  right: -268px;
  top: -36px;
  background-image: none;
  border-radius: 32px;
  background-color: #51A3E8;
  border: 0 solid;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  background-image: url(%%spritesheet%%);
  transition: all .25s ease,background-position .25s ease,background-color .5s ease;
  outline: none !important; }

.titlebox .fancy-toggle-button .add:hover, .titlebox .fancy-toggle-button .remove:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.48); }

.titlebox .fancy-toggle-button .add:active, .titlebox .fancy-toggle-button .remove:active {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.64); }

.titlebox .fancy-toggle-button .add {
  background-color: #1c5cac;
  background-position: -208px -144px; }

.titlebox .fancy-toggle-button .add:hover {
  background-color: #5A72EE; }

.titlebox .fancy-toggle-button .add:active {
  background-color: #fff;
  background-position: -208px -192px; }

.titlebox .fancy-toggle-button .remove {
  background-color: #fff;
  background-position: -208px -192px; }

.titlebox .fancy-toggle-button .remove:hover {
  background-color: rgba(0, 0, 0, 0.05); }

.titlebox .fancy-toggle-button .remove:active {
  background-color: #5A72EE;
  background-position: -208px -144px; }

.titlebox .fancy-toggle-button .add:after, .fancy-toggle-button .remove:after {
  display: block;
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  right: -26px;
  margin-top: 16px;
  padding: 12px;
  background-color: rgba(79, 77, 192, 0);
  border: none;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 13px;
  transition: all .25s ease;
  pointer-events: none;
  text-indent: 0;
  box-shadow: 0 0 0 transparent; }

.titlebox .fancy-toggle-button .add:after {
  content: "Subscribe!"; }

.titlebox .fancy-toggle-button .add:hover:after {
  visibility: visible;
  margin-top: 40px;
  color: #fff;
  background-color: #1c5cac;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24); }

.titlebox .fancy-toggle-button .remove:after {
  content: "Unsubscribe"; }

.titlebox .fancy-toggle-button .remove:hover:after {
  visibility: visible;
  color: #4D5763;
  background-color: #fff;
  margin-top: 40px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24); }

.hover-bubble.multi-selector {
  margin-top: -60px; }

.side .md .-blocks, .side .md .-lists, .side .md pre, .side .md blockquote, .side .md table, .side .md p, .side .md ul, .side .md ol {
  color: #4D5763;
  font-size: 13px;
  font-family: Arial,sans-serif;
  line-height: 1.3333333333333em; }

.side .titlebox .md h1 {
  line-height: 18px;
  margin: 0.5em 0 0 !important; }

.side .titlebox .md h2 {
  margin: 16px 0 2px; }

.side .titlebox .md h3 a {
  padding: 12px 16px;
  width: 100%;
  border-radius: 2px;
  background-color: #1c5cac;
  font-family: verdana,arial,sans-serif;
  transition: all .25s ease;
  color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
  display: block;
  margin: 1.5em 0;
  font-size: 12px; }

.side .titlebox .md h3 a:hover {
  background-color: #5A72EE;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.54); }

.side .titlebox .md h3 a:active {
  background-color: #4059DB;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.54); }

.side .titlebox .md h4 a, .wiki-page .wiki-page-content .md.wiki h4 {
  padding: 12px 16px;
  background-color: #FFF;
  border: 1px solid #D4D4D4;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
  color: #737373;
  font-weight: 700;
  transition: all .15s ease;
  display: block;
  margin: 1.5em 0;
  font-size: 12px; }

.side .titlebox h4 a:hover, .wiki-page .wiki-page-content .md.wiki h4:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
  color: #4D5763; }

.side .titlebox h4 a:active, .wiki-page .wiki-page-content .md.wiki h4:active {
  box-shadow: inset 0 2px 0 #D6D6D6;
  background-color: #E5E5E5;
  color: #999;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.36); }

.md hr {
  border: solid 1px #e5e5e5; }

.titlebox .bottom {
  display: none; }

.side #moderation_tools .title h1 {
  text-transform: capitalize;
  color: #4D5763; }

.side #moderation_tools .title .collapse-button {
  color: #4D5763;
  vertical-align: middle;
  border-radius: 1px;
  border: 1px solid #d8d8d8; }

.side .sidecontentbox .content {
  border: none;
  padding: 8px 0; }

.icon-menu a {
  background-color: transparent; }

#ad_sponsorship, #ad-frame, #ad_main {
  margin-left: -16px; }

#ad_sponsorship {
  margin-top: -18px;
  border-radius: 2px 2px 0 0; }

.gadget .midcol {
  width: 38px; }

body > .content {
  margin: 96px 332px 0 16px;
  padding: 0;
  border-radius: 2px; }

body.listing-page > .content {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16); }

body:before {
  height: 166px;
  top: 0;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #3A3D4D;
  background-image: url(%%headerimg%%);
  background-repeat: no-repeat;
  background-position: 50% 0;
  content: "";
  text-indent: -9999px;
  z-index: -1; }

@media only screen and (min-width: 1921px) {
  body:before {
    background-size: cover; } }
.sitetable {
  position: relative; }

.link {
  margin: 0;
  padding: 0;
  background-color: #fff; }

body > .content .link .rank, .rank-spacer {
  display: none; }

.link .midcol {
  width: 36px !important;
  margin: 15px 14px 0 11px;
  overflow: visible;
  height: 60px; }

.link .score {
  line-height: 16px;
  font-size: 12px;
  margin: 1px 0; }

.link .score.likes {
  color: #ff6422; }

.link .score.dislikes {
  color: #5c5bd7; }

.arrow {
  margin: 0 0 0 2px;
  background-image: url(%%spritesheet%%) !important;
  background-color: transparent;
  width: 33px;
  border-radius: 2px;
  transition: background-color .25s ease; }

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.05); }

.arrow.up {
  height: 20px;
  background-position: -64px 0;
  transition: background-color .25s ease; }

.arrow.upmod {
  height: 20px;
  background-position: -128px 0;
  position: relative; }

.arrow.upmod:focus:after {
  position: absolute;
  left: 2px;
  bottom: -3px;
  width: 28px;
  height: 28px;
  opacity: 1;
  z-index: 100;
  content: " ";
  background-color: #f50;
  border-radius: 28px;
  animation: upvote .35s ease-out forwards;
  -webkit-animation: upvote .35s ease-out forwards; }

.arrow.down {
  height: 20px;
  background-position: -160px 0;
  transition: background-color .25s ease; }

.arrow.downmod {
  height: 20px;
  background-position: -224px 0; }

.arrow.down:after {
  display: block;
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  margin-top: -6px;
  margin-left: 32px;
  padding: 12px;
  background-color: rgba(79, 77, 192, 0);
  border: none;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0);
  content: "For content that does not contribute to NYR hockey discussion.";
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 13px;
  transition: all .25s ease;
  pointer-events: none; }

.arrow.down:hover:after {
  visibility: visible;
  background-color: rgba(79, 77, 192, 0.9);
  color: #FFF;
  margin-left: 48px; }

.thumbnail {
  max-width: 64px;
  max-height: 56px;
  margin: 16px 16px 0 0; }

.thumbnail.self, .thumbnail.default {
  height: 56px; }

a.thumbnail img {
  height: 64px;
  width: 64px; }

.thumbnail.self {
  background: url(%%spritesheet%%) -73px -80px; }

.thumbnail.default {
  background: url(%%spritesheet%%) -143px -80px; }

.thumbnail.nsfw {
  background: url(%%spritesheet%%) -3px -140px; }

.linkflairlabel {
  padding: 1px 6px;
  height: 18px;
  border-radius: 1px;
  border: 0 solid;
  color: #fff;
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  font-size: 13px;
  font-family: Arial,sans-serif;
  cursor: default;
  vertical-align: middle;
  position: relative;
  top: -2px;
  background-color: #4F8EF7; }

.linkflair-inspiration .linkflairlabel {
  background-color: #ea4848;
  color: #fff; }

.linkflair-inspiration .thumbnail.self {
  background: url(%%spritesheet%%) -143px -140px; }

.linkflair-waywo .linkflairlabel {
  background-color: #516ae8;
  color: #fff; }

.linkflair-waywo .thumbnail.self {
  background: url(%%spritesheet%%) -73px -140px; }

.linkflair-mod .linkflairlabel {
  background-color: #C53B47;
  color: #fff; }

.linkflair-mod a {
  color: #C53B47 !important; }

.linkflair-mod .thumbnail.default, .linkflair-mod .thumbnail.self {
  background: url(%%spritesheet%%) -3px -80px !important; }

.link .title {
  margin: -2px 0 0;
  font-size: 18px;
  font-family: Arial,sans-serif;
  overflow: visible;
  transition: all .15s ease;
  line-height: 1.33; }

body .content .sitetable .link .title a:hover {
  color: #4F8EF7; }

.link .entry {
  padding: 15px 32px 14px 0;
  border-bottom: 1px solid #f2f2f2;
  margin-left: 0; }

.thing .title.loggedin.click, .thing .title.click, .thing .title.loggedin, .thing .title {
  color: #4F8EF7; }

.content .thing .title:visited, .content .thing.visited .title {
  color: #7D5D8A; }

.thing .title.loggedin.click:visited, .thing .title.click:visited {
  color: #4F8EF7; }

.link .domain {
  visibility: hidden; }

.link .domain a {
  visibility: visible;
  position: relative;
  top: -1px;
  color: #b3b3b3;
  transition: all .15s ease; }

.link .domain a:hover {
  color: #4F8EF7;
  text-decoration: none; }

.approval-checkmark {
  cursor: default; }

.expando-button, .expando-button.image, .expando-button.video-muted {
  position: relative;
  margin: 2px 6px 2px 0 !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 2px;
  background-color: transparent;
  background-image: url(%%spritesheet%%) !important;
  border: 1px solid #e9e9e9;
  cursor: pointer; }

.expando-button:hover {
  background-color: #4F8EF7;
  border-color: #4F8EF7; }

.expando-button.selftext.collapsed {
  background-position: -32px -32px !important; }

.expando-button.selftext.collapsed:hover {
  background-position: -48px -32px !important; }

.expando-button.selftext.expanded {
  background-position: -64px -32px !important; }

.expando-button.selftext.expanded:hover {
  background-position: -80px -32px !important; }

.expando-button.video.collapsed {
  background-position: -96px -32px !important; }

.expando-button.video.collapsed:hover {
  background-position: -12px -32px !important; }

.expando-button.video.expanded {
  background-position: -64px -32px !important; }

.expando-button.video.expanded:hover {
  background-position: -80px -32px !important; }

.expando-button.image.collapsedExpando {
  background-position: -160px -32px !important; }

.expando-button.image.collapsedExpando:hover {
  background-position: -176px -32px !important; }

.expando-button.image.expanded {
  background-position: -64px -32px !important; }

.expando-button.image.expanded:hover {
  background-position: -80px -32px !important; }

.expando-button.image.gallery.collapsedExpando {
  background-position: -128px -32px !important; }

.expando-button.image.gallery.collapsedExpando:hover {
  background-position: -144px -32px !important; }

.expando-button.image.gallery.expanded {
  background-position: -64px -32px !important; }

.expando-button.image.gallery.expanded:hover {
  background-position: -80px -32px !important; }

.expando-button.video-muted.collapsed {
  background-position: -208px -32px !important; }

.expando-button.video-muted.collapsed:hover {
  background-position: -224px -32px !important; }

.expando-button.video-muted.expanded {
  background-position: -64px -32px !important; }

.expando-button.video-muted.expanded:hover {
  background-position: -80px -32px !important; }

.link .usertext .md {
  margin-top: 10px;
  padding-top: 3px;
  padding-left: 0;
  background-color: transparent;
  border: 0 solid;
  border-top: 1px solid #F7F7F7;
  border-radius: 0;
  color: #4D5763; }

.entry .tagline {
  margin-top: 4px;
  color: #b3b3b3;
  font-size: 12px;
  font-family: arial,sans-serif;
  transition: all .15s ease; }

.link .entry .tagline a {
  color: #4d5763; }

.link .entry .tagline:first-letter {
  text-transform: capitalize; }

.link .entry .tagline time {
  cursor: help; }

.link .entry .tagline a:hover {
  color: #4F8EF7;
  text-decoration: none; }

.link .entry .tagline a.author {
  margin-right: inherit; }

.link .entry .tagline .userattrs {
  visibility: hidden; }

.link .entry .tagline .userattrs a {
  visibility: visible;
  font-size: 10px;
  padding: 1px 3px 1px 2px;
  margin-left: 2px;
  background-color: red;
  color: #fff !important;
  vertical-align: middle;
  border-radius: 1px;
  position: relative;
  top: -1px;
  cursor: help; }

.link .entry .tagline .userattrs a.moderator {
  background-color: #C53B47; }

.RESUserTagImage {
  height: 10px !important;
  background-image: url(%%spritesheet%%) !important;
  background-position: -192px -34px !important;
  opacity: 0.25 !important;
  margin-left: 2px !important;
  transition: opacity .15s ease;
  margin-top: 1px !important; }

.RESUserTagImage:hover {
  opacity: 1 !important; }

.link .flat-list {
  margin-top: 3px; }

.entry .buttons li a {
  padding: 0 1px;
  color: #b3b3b3;
  font-weight: 400;
  font-size: 13px;
  font-family: Arial,sans-serif;
  transition: all .15s ease; }

.link .entry .buttons li a:hover {
  color: #4F8EF7;
  text-decoration: none; }

.nsfw-stamp acronym {
  padding: 2px 3px;
  background-color: transparent;
  border-color: #e82e63 !important;
  border-radius: 2px;
  color: #e82e63;
  opacity: 100;
  cursor: help; }

.link .entry .buttons li a.comments {
  color: #4F8EF7;
  font-weight: 700 !important;
  opacity: 100 !important;
  transition: all 0.25s ease-in-out !important; }

.link .entry li .comments:hover {
  text-decoration: none; }

.action-form {
  position: fixed;
  top: 35%;
  left: 40%;
  margin: 0;
  padding: 24px;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.24);
  border: none;
  border-radius: 2px; }

.action-form .reason-prompt {
  font-size: 16px;
  color: #4D5763;
  padding-bottom: 8px;
  display: block; }

.action-form .reason-prompt:first-letter {
  text-transform: capitalize; }

.action-form .reason-prompt li {
  padding: 4px 4px 4px 0;
  display: block; }

.action-form li label {
  padding: 4px 4px 4px 0;
  cursor: pointer;
  display: block;
  color: #4D5763;
  text-transform: capitalize; }

.action-form li label:hover {
  background-color: rgba(0, 0, 0, 0.05); }

.action-form input[name="other_reason"] {
  padding: 8px; }

.link .entry .buttons li a.flairselectbtn {
  color: #4F8EF7; }

.link .entry .buttons li .redditSingleClick {
  padding: 0 1px;
  color: #b3b3b3;
  font-weight: 400;
  font-size: 13px;
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
  transition: all .15s ease; }

.thing.spam {
  background-color: #FFE9E6; }

.entry .buttons li.reported-stamp {
  background-color: transparent;
  border: 1px solid #EDEEEE !important;
  border-radius: 20px;
  color: #4A4F57;
  line-height: 16px; }

a.pretty-button.negative, a.pretty-button.neutral, a.pretty-button.positive {
  background-image: none;
  border: 1px solid;
  border-radius: 20px;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  line-height: 15px;
  transition: all .25s ease; }

a.pretty-button.negative {
  background-color: #fb797e;
  border-color: #fb797e; }

a.pretty-button.negative:hover {
  background-color: #fc535a;
  border-color: #fc535a; }

a.pretty-button.neutral {
  background-color: #ddd;
  border-color: #ddd;
  color: #4A4F57; }

a.pretty-button.neutral:hover {
  background-color: #ececec;
  border-color: #ececec; }

a.pretty-button.positive {
  background-color: #1ecd97;
  border-color: #1ecd97; }

a.pretty-button.positive:hover {
  background-color: #22e1a6;
  border-color: #22e1a6; }

a.pretty-button.positive.pressed, a.pretty-button.neutral.pressed, a.pretty-button.negative.pressed {
  background-image: none;
  box-shadow: inset 0 3px 1px rgba(0, 0, 0, 0.15); }

.comment.spam > .child, .message.spam > .child {
  background-color: transparent; }

.link.last-clicked {
  background-color: #F2F2F2;
  border: none; }

.thing.stickied {
  border-radius: 2px 2px 0 0; }

.thing.stickied a.title, .thing.stickied a, .thing.stickied .entry li .comments {
  color: #4F8EF7 !important; }

.thing.stickied .expando-button:hover {
  background-color: #65b354 !important;
  border-color: #65b354 !important; }

.tagline .stickied-tagline {
  color: #b3b3b3;
  cursor: help; }

.thing.stickied .domain {
  display: none; }

.content .spacer {
  margin: 0; }

.link.promotedlink.promoted {
  margin-right: 0;
  background-color: #EFF7FF;
  border: none;
  padding: 0; }

.organic-listing .link, .organic-listing .link.compressed, .organic-listing .link.promotedlink {
  padding-top: 0;
  padding-bottom: 0; }

.link.promotedlink.promoted .thumbnail {
  max-height: inherit;
  max-width: inherit;
  margin-top: 8px; }

.link.promotedlink.promoted .thumbnail img {
  height: inherit;
  width: inherit; }

.organic-listing {
  background-color: #fff !important;
  padding: 0;
  position: relative;
  margin-bottom: 0;
  border: none;
  border-radius: 2px 2px 0 0; }

.organic-listing .help {
  margin-bottom: 20px;
  margin-right: 16px; }

.organic-listing .sponsored-tagline {
  margin-bottom: 20px;
  margin-right: 16px;
  color: #B3B3B3; }

.link.compressed {
  margin: 0; }

.link.compressed .entry {
  padding: 11px 32px 9px 0; }

.link.compressed .title {
  margin: 0; }

body > .content .link.compressed .midcol {
  height: auto;
  margin: 8px 0 0 4px; }

.flairselector {
  position: fixed;
  top: 20% !important;
  left: 50% !important;
  margin-left: -125px;
  padding: 32px !important;
  width: 250px !important;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.64); }

.flairselector.drop-choices.active {
  border: 1px solid #e2e2e2; }

.flairselector h2 {
  margin-bottom: 4px;
  background-color: transparent;
  color: #4F8EF7;
  text-align: left;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 18px; }

.flairoptionpane {
  max-height: 250px;
  text-align: left; }

.flairselector .flairoptionpane ul li {
  padding: 0 !important; }

.flairoptionpane ul li .linkflair {
  text-align: left;
  padding: 0; }

.flairoptionpane ul li .linkflair:hover, .flairselector li:hover {
  background-color: #F5F8F9;
  border: 0 solid; }

.flairoptionpane ul li .linkflair span.linkflairlabel {
  margin: 8px 0;
  line-height: 1.35;
  margin-right: 6px; }

.flairoptionpane ul li .linkflair a.title {
  font-size: 18px !important;
  opacity: 100 !important;
  color: #4F8EF7 !important; }

.flairselector form {
  padding-top: 12px;
  border-top: 1px solid #F7F7F7; }

.flairselector form .flairselection {
  text-align: left; }

.flairselector form .flairselection:before {
  display: block;
  content: "Selected Flair:";
  color: #b3b3b3; }

.flairselector form .flairselection .linkflair a.title {
  font-size: 18px !important;
  opacity: 100 !important;
  color: #4F8EF7 !important;
  cursor: default; }

.flairselector form .flairselection .flairremove {
  padding: 4px 0;
  margin-bottom: 8px;
  visibility: hidden;
  display: block !important; }

.flairselector form .flairselection .flairremove a {
  visibility: visible;
  opacity: 100 !important;
  color: #4F8EF7 !important;
  margin-left: -4px;
  text-transform: capitalize; }

.flairselector form .flairselection .flairremove a:first-letter {
  text-transform: capitalize; }

.flairselector form .flairselection .flairremove a:hover {
  text-decoration: underline !important; }

.flairselector .error {
  text-align: left; }

.flairselector .error:first-letter {
  text-transform: capitalize; }

.flairselector .error:after {
  display: block;
  color: #b3b3b3;
  content: "Go to /r/.../about/flairs."; }

.flairselector img {
  position: relative;
  left: 50%;
  margin-left: -9px;
  opacity: .5; }

.flairselector .flairoptionpane ul li {
  margin: 4px 0; }

.flairselector li.selected {
  border: none;
  background-color: transparent; }

.flairselector .flairoptionpane ul li.flairsample-right {
  padding: 5px 0 !important;
  border: none; }

.flairselector li a, .flairselector form .flairselection a.author {
  color: #b3b3b3 !important;
  font-size: 11px; }

.unvotable-message {
  border: 0 solid;
  color: #b3b3b3; }

.unvotable-message:first-letter {
  text-transform: capitalize; }

.res .RES-keyNav-activeElement {
  outline: 0 dashed #E0E0E0 !important;
  transition: all .35s ease; }

.res .entry {
  transition: all .15s ease; }

div.RES-keyNav-activeElement, div.commentarea div.RES-keyNav-activeElement.entry div.noncollapsed {
  background-color: transparent !important;
  padding-left: 8px !important;
  border-left: 2px solid #4F8EF7; }

div.commentarea div.RES-keyNav-activeElement .md {
  background-color: transparent !important; }

.res .commentarea .thing {
  padding: 16px 16px 0 14px !important; }

.res .commentarea .entry .flat-list {
  padding-bottom: 16px; }

.userTagLink.hasTag, #userTaggerPreview {
  font-size: 11px !important;
  border-radius: 0 !important;
  border: 0 solid !important;
  margin-top: 0 !important;
  margin-left: 4px !important; }

.RESDialogSmall {
  border: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
  margin-top: 8px; }

.RESDialogSmall > h3 {
  color: #4F8EF7;
  background-color: #FFF;
  border-bottom: 1px solid #EDEDED;
  height: 36px;
  padding: 8px;
  margin: 0; }

.livePreview .md {
  padding: 8px 12px; }

.RESCloseButton {
  line-height: 19px;
  height: 22px;
  width: 22px;
  transition: all .15s ease; }

.RESCloseButton:hover {
  border: 1px solid #D7D9DC; }

#userTaggerToolTip input[type=text], #userTaggerToolTip select {
  line-height: 22px;
  padding-left: 4px;
  border: 1px solid #E5E5E5 !important; }

.toggleButton {
  line-height: .8; }

.toggleButton .toggleOn {
  border-radius: 0;
  border: 1px solid #4F8EF7;
  background-color: #4F8EF7;
  color: #fff;
  text-transform: capitalize; }

.toggleButton .toggleOff {
  border-radius: 0;
  border: 1px solid #D7D9DC;
  background-color: transparent;
  text-transform: capitalize; }

#userTaggerToolTip input[type=submit] {
  bottom: 10px !important; }

.top-page .content .menuarea .drop-choices.lightdrop {
  display: inline;
  visibility: visible; }

.top-page .menuarea .spacer {
  overflow: visible; }

.top-page .content .menuarea .drop-choices.lightdrop a.choice, .top-page .content .menuarea .drop-choices.lightdrop form {
  display: inline; }

.top-page .content .menuarea .dropdown-title.lightdrop {
  visibility: hidden; }

.top-page .content .menuarea {
  border-bottom: 0;
  padding: 0;
  margin: 0;
  height: 36px; }

.top-page .content .menuarea .dropdown.lightdrop .selected {
  z-index: 1002;
  position: relative;
  left: -68px;
  top: 11px;
  background: none;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 12px;
  pointer-events: none;
  padding: 10px 16px;
  background-color: #5A72EE;
  overflow: visible;
  color: #FFF; }

.top-page .content .menuarea .drop-choices.lightdrop {
  padding: 10px 16px 10px 104px;
  margin-left: 16px;
  margin-top: 1px;
  border-radius: 2px 2px 0 0;
  border: none;
  border-bottom: 1px solid #E0E1E2;
  width: calc(100% - 348px);
  box-shadow: none; }

.top-page .content .menuarea .drop-choices.lightdrop a.choice {
  padding: 10px;
  color: #4D5763;
  transition: all .25s ease; }

.top-page .content .menuarea .drop-choices.lightdrop a.choice[href*="/?t=all"] {
  border-right: 0 solid; }

.top-page .content .menuarea .drop-choices.lightdrop a.choice:hover {
  background-color: #F5F8F9; }

.top-page .content .menuarea .drop-choices.lightdrop a.choice.selected {
  background-color: #4f8ef7;
  color: #fff; }

.guider {
  border: none;
  box-shadow: 0 2px 3px #DDD; }

.guider_content h1 {
  color: #4F8EF7; }

.guider_button {
  font-size: 11px;
  border: none;
  background-image: none;
  background-color: #4F8EF7;
  transition: all .15s ease; }

.guider_button:hover {
  background-color: rgba(79, 142, 247, 0.75); }

.x_button {
  transition: all .25s ease;
  box-shadow: 0 1px 4px transparent; }

.x_button:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); }

.content .infobar {
  margin: 0 0 16px;
  padding: 8px 16px;
  line-height: 26px;
  border: none;
  background-color: #1c5cac;
  color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
  border-radius: 2px; }

.infobar .md {
  color: #fff; }

.content .infobar:first-letter {
  text-transform: capitalize; }

.content .infobar.welcome {
  line-height: inherit;
  height: 86px; }

.content .infobar.welcome h1 {
  color: #4d5763; }

.commentarea .infobar {
  padding: 8px 16px;
  line-height: 16px;
  margin-right: 0; }

.commentarea .infobar a {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 700; }

#noresults {
  margin: 0;
  position: absolute;
  top: 72px;
  width: 100%;
  height: 312px;
  background: transparent url(%%noresults%%) no-repeat 50% 50%;
  text-indent: -9999px;
  font-size: 0;
  display: block; }

.sitetable .nav-buttons {
  padding: 16px;
  background-color: #fff;
  color: #b3b3b3;
  border-top: 1px solid #F2F2F2;
  margin-top: -1px; }

.sitetable .nav-buttons:first-letter {
  text-transform: capitalize; }

.sitetable .nav-buttons .nextprev {
  color: #b3b3b3;
  font-size: 14px; }

.sitetable .nav-buttons .nextprev a {
  border: 0;
  background-color: transparent; }

.sitetable .nav-buttons .nextprev a:hover {
  text-decoration: underline;
  border: 0;
  background-color: transparent; }

.comments-page .link {
  border-radius: 2px 2px 0 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16); }

.comments-page .link .entry {
  border-bottom: none;
  padding-bottom: 15px; }

.commentarea .panestack-title {
  margin: 10px 0 0 22px;
  border-bottom: 0; }

.commentarea .panestack-title .title {
  color: #4D5763; }

.panestack-title .title:first-letter {
  text-transform: capitalize; }

.commentarea .menuarea {
  margin: 0 0 0 22px; }

.commentarea .menuarea span.dropdown-title.lightdrop {
  color: #b3b3b3; }

.commentarea .menuarea span.dropdown-title.lightdrop:first-letter {
  text-transform: capitalize; }

.commentarea .menuarea .dropdown.lightdrop .selected {
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  padding-right: 0;
  font-weight: 400;
  color: #b3b3b3; }

.commentarea .menuarea .dropdown.lightdrop .selected:hover {
  color: #4F8EF7; }

.commentarea .menuarea .dropdown.lightdrop .selected:after {
  content: "▼"; }

.drop-choices.lightdrop {
  border: none;
  z-index: 1001;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }

.drop-choices a.choice {
  padding: 6px;
  transition: all .1s ease; }

.drop-choices a.choice:hover {
  background-color: #4F8EF7;
  color: #fff; }

.commentarea .menuarea .toggle a, .help-hoverable {
  color: #b3b3b3;
  font-weight: 400; }

.commentarea .menuarea .toggle a:hover, .help-hoverable:hover {
  color: #4F8EF7; }

.commentarea > .usertext {
  background-color: #FAFAFA;
  border-radius: 0 0 2px 2px;
  margin: -58px 0 16px;
  padding: 64px 16px 16px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
  overflow: visible; }

.usertext button {
  margin: 4px 16px 8px 0; }

.usertext-edit textarea {
  position: relative;
  z-index: 999; }

.usertext .bottom-area {
  width: 500px; }

.usertext .bottom-area a.reddiquette {
  color: #4F8EF7; }

.gold-accent.comment-visits-box {
  margin: 0 0 12px;
  border-radius: 2px; }

.commentarea .sitetable {
  margin: 0;
  box-shadow: none; }

.commentarea .thing {
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
  margin: 0 0 8px;
  padding: 16px 16px 16px 14px; }

.commentarea .child .thing {
  box-shadow: none;
  padding: 4px;
  margin: 12px 0 0; }

.commentarea .comment .midcol {
  margin-top: 2px;
  width: 36px;
  margin-right: 2px;
  overflow: visible; }

.commentarea .sitetable .comment {
  background-color: #fff; }

.comment .child, .comment .showreplies {
  border-left: 1px dotted #ECECEC;
  margin-top: 0; }

.comment .midcol {
  width: 24px;
  margin-right: 0; }

.comment .midcol .arrow {
  margin-left: 0;
  margin-bottom: 4px; }

.comment .entry .tagline {
  color: #b3b3b3;
  font-size: 12px;
  font-family: Arial,sans-serif; }

.comment .expand {
  background-color: transparent;
  transition: all .15s ease;
  color: #B3B3B3; }

.comment .expand:hover {
  color: #fff;
  text-decoration: none;
  background-color: #4F8EF7; }

.comment .author {
  color: #4D5763;
  margin-right: 0;
  font-weight: 700; }

.comment .author:hover {
  color: #4f8ef7;
  text-decoration: none; }

.tagline .moderator, .green {
  color: #C53B47;
  font-weight: 700; }

.tagline .submitter {
  font-weight: 700;
  color: #4f8ef7; }

.res .thing .tagline .author.submitter {
  padding: 1px 4px;
  border-radius: 1px;
  background-color: #4F8EF7 !important;
  box-shadow: 0 0 0 transparent;
  transition: all .15s ease; }

.res .thing .tagline .author.submitter:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #4F8EF7 !important; }

.comment .score {
  font-size: inherit;
  font-weight: 700;
  color: #666; }

.comment span.userattrs {
  margin-left: 4px; }

.comment .usertext .md {
  color: #4D5763; }

.comment .usertext .md p {
  margin-top: 0; }

.md a {
  color: #4F8EF7; }

.md a:visited {
  color: #7D5D8A; }

.md pre {
  padding: 8px; }

.md blockquote {
  border-left: 2px solid #E5E3DA;
  color: #706F6F; }

.md h1, .md h2 {
  margin: .5em 0 .25em;
  border: none;
  color: #4D5763; }

.md h3 {
  color: #4D5763;
  margin: 16px 0 0; }

.usertext.grayed .usertext-body {
  margin: 4px 0;
  background-color: transparent;
  text-transform: italic;
  padding: 0; }

.comment .flat-list li a {
  color: #b3b3b3;
  font-weight: 400;
  font-size: 10px; }

.comment .flat-list li a:hover {
  color: #4F8EF7;
  text-decoration: none; }

.comment .flat-list li a[onclick*="reply"] {
  color: #4F8EF7;
  font-weight: 700;
  font-size: 11px; }

.deepthread a {
  color: #4F8EF7; }

.comments-page .side {
  margin-top: 312px; }

.comments-page .side .linkinfo {
  position: absolute;
  right: 16px;
  top: 200px;
  padding: 16px;
  width: 300px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
  border: none; }

.comments-page .side .linkinfo .date {
  color: #B3B3B3; }

.comments-page .side .linkinfo .date:first-letter {
  text-transform: capitalize; }

.comments-page .side .linkinfo .score {
  color: #4D5763; }

.linkinfo .shortlink input {
  border: 1px solid #E5E5E5; }

.res.comments-page .side {
  margin-top: 374px; }

.submit-page .content {
  margin: 96px auto; }

.submit-page .side, .submit-page .content h1, #suggested-reddits {
  display: none; }

.submit-page #newlink.submit.content {
  width: 524px;
  margin: 0 auto; }

.submit-page #newlink.submit.content form .spacer + .spacer {
  margin: 0; }

.submit-page #newlink.submit.content ul.tabmenu.formtab {
  padding: 0;
  border: none; }

.submit-page #newlink.submit.content .tabmenu.formtab a {
  padding: 16px;
  width: 262px;
  display: inline-block;
  text-align: center;
  background-color: #fff;
  color: #4D5763;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .25s ease;
  font-size: 16px;
  border: none; }

.submit-page #newlink.submit.content .tabmenu.formtab .selected a {
  font-size: 16px;
  background-color: #1c5cac;
  color: #fff; }

.submit-page #newlink.submit.content .tabmenu.formtab a:hover {
  background-color: #e7e9f6; }

.submit-page #newlink.submit.content .tabmenu.formtab .selected a:hover {
  background-color: #6379ea; }

.submit-page .formtabs-content {
  border-top: 0;
  padding-top: 0; }

.submit-page .roundfield {
  padding: 16px;
  width: 524px;
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 16px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16); }

.submit-page .roundfield .title {
  color: #4D5763;
  text-transform: capitalize; }

.submit-page .infobar {
  width: 524px;
  margin: 0;
  padding: 16px;
  color: #fff;
  background-color: #1c5cac;
  border-radius: 0 0 2px 2px;
  border: none;
  margin-top: -12px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
  font-size: 0; }

.submit-page .infobar:before {
  font-size: 14px;
  content: "Please submit insightful content that allows for discussion!";
  display: inline-block; }

.content.submit .info-notice {
  background-color: #fff;
  border-radius: 2px;
  padding: 16px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
  border: none;
  margin-bottom: 0; }

.submit-page #newlink.submit.content .btn {
  width: 100%;
  line-height: 41px;
  height: 42px;
  margin-top: 24px;
  background-color: #1c5cac;
  border: none;
  color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
  cursor: pointer; }

.submit-page #newlink.submit.content .btn:hover {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.48);
  color: #fff; }

.submit-page #header-bottom-left {
  top: 36px;
  left: 16px; }

.search-page .searchpane {
  margin: 0;
  background: #fff none;
  padding: 16px;
  border: none;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
  position: relative; }

.raisedbox h4 {
  color: #B3B3B3 !important;
  font-weight: 400;
  text-transform: capitalize; }

.search-page #search {
  position: inherit; }

.search-page #search input[type=text] {
  box-shadow: none !important;
  font-size: 36px;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 9px; }

.search-page #search input[type=text]:hover {
  box-shadow: none !important; }

.search-page #search label {
  padding: 1em;
  margin: .5em 0;
  transition: background-color .1s ease;
  cursor: pointer;
  font-size: 12px; }

.search-page #search label:hover {
  background-color: rgba(0, 0, 0, 0.05); }

.search-page #previoussearch p {
  margin-top: 1.5em; }

.search-summary {
  display: none; }

.search-page .morelink {
  top: 96px; }

.search-page .side {
  margin-top: 148px; }

.search-page .searchfacets {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
  border: none;
  padding: 16px;
  margin: 0;
  background-color: #F9F9F9;
  border-radius: 0 0 2px 2px; }

.searchfacets .title {
  margin: 0; }

.searchfacets h4.title {
  color: #4D5763;
  margin: 0 0 8px; }

.searchfacets h4.title:first-letter {
  text-transform: capitalize; }

.searchfacets .list {
  margin: 0; }

.searchfacets .facet.count {
  color: #B3B3B3;
  font-weight: 400; }

.searchfacets .facet.count:hover {
  text-decoration: none; }

.search-page .menuarea {
  border-radius: 2px 2px 0 0;
  border-bottom: 0;
  margin: 16px 0 0;
  padding: 16px;
  color: #B3B3B3;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16); }

.search-page .menuarea .dropdown.lightdrop .selected {
  text-decoration: none;
  color: #4D5763;
  font-weight: 400;
  cursor: pointer; }

.wiki-page .wikititle {
  background-color: #fff;
  padding: 9px 16px 10px;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
  font-size: 16px;
  font-family: arial,sans-serif;
  text-transform: capitalize;
  margin: 0; }

.wiki-page .pageactions {
  background-color: #fff;
  margin-left: 16px;
  border-radius: 2px;
  padding: 0 16px;
  border: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16); }

.wiki-page .pageactions .wikiaction {
  margin: 0;
  background-color: transparent;
  border-radius: 0;
  padding: 10px 16px 11px;
  color: #B3B3B3; }

.wiki-page .pageactions .wikiaction-current {
  padding: 10px 16px 7px;
  border-bottom: 4px solid #4F8EF7;
  color: #4F8EF7; }

.wiki-page .pageactions .wikiaction:hover, .wiki-page .pageactions .wikiaction-current:hover {
  background-color: rgba(0, 0, 0, 0.05); }

.wiki-page .wiki-page-content {
  margin: 16px 0;
  background-color: #fff;
  padding: 16px;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16); }

.wiki-page .wiki-page-content .wiki > .toc > ul {
  border: none; }

.wiki-page .wiki-page-content .wiki.md {
  color: #4D5763; }

.wiki-page .wiki-page-content .wiki.md h2 {
  color: #4D5763; }

.wiki-page .wiki-page-content .wiki.md p {
  font-size: 14px;
  line-height: 1.4285714285714em; }

.wiki-page .wiki-page-content hr {
  border-style: solid;
  border-color: #e5e5e5; }

.wiki-page .wiki-page-content em {
  color: #B3B3B3; }

.linefield {
  background-color: #fff;
  color: #B3B3B3;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
  margin: 0 0 8px;
  width: 531px; }

.linefield .title {
  color: #4F8EF7;
  text-transform: capitalize; }

.linefield .title:first-letter, .linefield label:first-letter {
  text-transform: capitalize; }

.usertext .bottom-area a {
  color: #b3b3b3; }

.usertext .bottom-area a:hover {
  color: #4f8ef7; }

.pretty-form {
  padding-top: 24px; }

.fancy-settings h1, .create-promotion h1 {
  color: rgba(255, 255, 255, 0.8); }

.fancy-settings h1 strong {
  color: white; }

.tabmenu {
  border-bottom: 1px solid #edeeee;
  margin-bottom: 12px; }

.tabmenu li {
  margin: 0 !important; }

.tabmenu li a {
  background-color: transparent;
  color: #4D5763;
  border: none;
  font-size: 14px; }

.tabmenu li.selected a {
  color: #4F8EF7;
  background-color: transparent;
  border: none; }

.tabpane-content {
  border: none; }

.tabpane-content .flairrow a.author {
  color: #b3b3b3; }

.tabpane-content .tagline a {
  color: #4F8EF7; }

.tabpane-content .thing .title {
  overflow: visible; }

.fancy-settings .pretty-form {
  padding-top: 0; }

.stylesheet-customize-container .pretty-form {
  background-color: #fff;
  padding: 16px;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
  margin-bottom: 16px; }

.stylesheet-customize-container .pretty-form .sheets {
  margin-right: 0; }

.stylesheet-customize-container h2 {
  display: none; }

.sheets .btn.right {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0; }

#images {
  padding: 16px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
  height: 560px; }

#images #image-upload {
  margin: 0 0 4em; }

.flair {
  border: none;
  border-radius: 0;
  font-size: 12px;
  font-family: arial,sans-serif;
  font-weight: 400;
  background-color: transparent;
  color: #B3B3B3;
  padding-left: 0;
  margin-right: inherit; }

.link .flair {
  font-size: 12px; }

.flair:before {
  margin-right: 3px;
  height: auto;
  content: "- ";
  margin-left: 4px; }

.side .flair:before {
  margin-left: 0; }

.listing-page .comment {
  background-color: #fff;
  margin-left: 0;
  border-bottom: 1px solid #F2F2F2;
  padding: 12px; }

.listing-page .comment .midcol {
  width: 36px;
  margin-right: 2px;
  margin-top: 4px;
  overflow: visible; }

.listing-page .comment .parent {
  margin-bottom: 4px; }

.listing-page .comment .title {
  font-size: 14px;
  margin-left: 8px; }

.footer {
  border: 0 solid; }

.res .link .tagline a.voteWeight {
  background-color: transparent !important; }

.res .thing .tagline .author.moderator {
  background-color: #C53B47 !important;
  padding: 1px 4px;
  border-radius: 1px; }

.res .srSep {
  color: rgba(255, 255, 255, 0.45); }

.res #RESShortcutsViewport {
  margin-right: 381px; }

.res #RESShortcutsEditContainer {
  margin-right: 312px; }

.res #RESShortcutsEditContainer, #RESShortcutsSort, #RESShortcutsRight, #RESShortcutsLeft, #RESShortcutsAdd, #RESShortcutsTrash {
  background-color: transparent !important;
  color: rgba(255, 255, 255, 0.45) !important;
  top: 1px !important; }

.pinHeader-sub #sr-header-area, .pinHeader-subanduser #sr-header-area {
  background-image: url(%%headerimg%%);
  background-position: 50% 0; }

.pinHeader-sub #header-bottom-left, .pinHeader-subanduser #header-bottom-left {
  margin-top: 0; }

.pinHeader-header:before {
  display: none !important; }

.pinHeader-header .content {
  margin-top: 12px !important; }

.pinHeader-header .side {
  margin-top: 164px; }

.pinHeader-header.res.comments-page .side {
  margin-top: 290px; }

.pinHeader-header #header {
  top: 0;
  background-image: url(%%headerimg%%);
  height: 84px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24); }

.res #header-bottom-right {
  top: 1px;
  border-radius: 0;
  height: 18px;
  padding: 0 8px 0 0; }

.res #userbarToggle {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.45);
  border-radius: 0;
  border: none; }

.res #header-bottom-right .user .userkarma {
  display: none; }

.res #header-bottom-right .user {
  font-size: 0; }

.res #header-bottom-right .user a {
  font-size: 11px; }

.res #sr-header-area a.RESShortcutsCurrentSub, .res #RESSubredditGroupDropdown .RESShortcutsCurrentSub a {
  color: #fff !important;
  border-bottom: 2px solid #fff; }

#RESAccountSwitcherIcon {
  position: relative;
  top: -4px; }

.res #REScommentNavToggle {
  max-width: 98px;
  overflow: hidden;
  max-height: 15px;
  background-color: #FAFAFA;
  transition: all .35s ease; }

.res #REScommentNavToggle:hover {
  max-width: 100%; }

.res .commentarea > .usertext {
  margin-top: -74px;
  padding-top: 76px; }

.res .content .RESBigEditorPop {
  background-color: transparent;
  line-height: inherit;
  font-size: 11px;
  font-family: verdana,arial,sans-serif;
  box-shadow: none;
  font-weight: 400;
  color: #4D5763;
  border: none;
  padding: 0;
  height: inherit;
  margin-left: 4px;
  margin-top: 5px; }

html.res-commentBoxes .comment {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.res .commentarea .thing {
  border: none !important; }

.res .titlebox span.subscribers, .res .titlebox .users-online, .res .titlebox .number {
  top: 0;
  left: 0; }

.res .titlebox .tagline {
  margin-top: 6px; }

.res .RESshortcutside, .res .RESDashboardToggle {
  background-image: none !important;
  border: none;
  color: #4D5763;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0;
  padding: 4px 6px 4px 0;
  margin: 2px 6px 2px -4px;
  text-align: left;
  width: auto; }

.res .RESshortcutside:hover, .res .RESDashboardToggle:hover {
  background-color: transparent;
  color: #4F8EF7; }

.res #progressIndicator {
  width: inherit;
  border-radius: 0;
  border: none;
  padding: 16px;
  margin: 16px 0;
  color: #b3b3b3;
  background-color: #fff;
  height: inherit; }

.res #progressIndicator h2 {
  color: #4D5763; }

.res .NERPageMarker {
  border-radius: 0;
  border: none;
  background-color: #fff;
  padding: 16px 0;
  margin: 0; }

.res .sitetable .sitetable {
  margin-right: 0; }

.res #search #searchexpando {
  width: 300px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  height: auto; }

.res #search #searchexpando label {
  padding-top: 13px;
  padding-bottom: 13px; }

.res #searchexpando .searchexpando-submit {
  display: none; }

.res h1.hover.redditname {
  margin-bottom: 28px; }

.res .titlebox .fancy-toggle-button .add, .res .fancy-toggle-button .remove {
  top: -78px; }

.res .titlebox .tagline {
  margin-top: -14px; }

.res .titlebox span.subscribers, .res .titlebox .users-online, .res .titlebox .number {
  top: -32px; }

.res .commentarea .panestack-title {
  margin-top: 0;
  padding-top: 12px; }

.gearIcon {
  background: url(%%spritesheet%%) 0 0 !important;
  position: relative;
  top: 2px;
  transition: all .25s ease; }

#RESMainGearOverlay {
  background-color: #516ae8;
  top: 0 !important;
  height: 26px !important;
  border-radius: 0 !important; }

.RESDropdownList {
  border-color: #4258ca;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
  margin-top: 4px;
  margin-right: 8px; }

.RESDropdownList li {
  background-color: #516ae8;
  color: #fff;
  border-color: #4258ca;
  transition: all .15s ease; }

.RESDropdownList li:first-letter {
  text-transform: capitalize; }

.RESDropdownList a, .RESDropdownList a:visited {
  color: #fff; }

.RESDropdownList li:hover, .RESDropdownList li a:hover {
  color: #fff;
  background-color: #667df0; }

#RESSearchMenuItem {
  border: 1px solid #4258ca;
  border-radius: 1px;
  background-color: #667df0; }

#RESSearchMenuItem:hover {
  background-color: #667df0; }

.toggleButton .toggleOn, .toggleButton .toggleOff {
  text-transform: lowercase; }

.moduleToggle:not(.enabled) .toggleOn, .toggleButton:not(.enabled) .toggleOn, .moduleToggle.enabled .toggleOff, .toggleButton.enabled .toggleOff {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid #4258ca;
  transition: all .15s ease;
  border-radius: 2px; }

.moduleToggle.enabled .toggleOn, .toggleButton.enabled .toggleOn, .moduleToggle:not(.enabled) .toggleOff, .toggleButton:not(.enabled) .toggleOff {
  background-color: #fff;
  color: #1c5cac;
  font-weight: bolder;
  border: 1px solid #fff;
  transition: all .15s ease;
  border-radius: 2px; }

.markdownEditor .edit-btn:not(.btn-macro) {
  border: 0 solid !important;
  border-radius: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12); }

body > .content {
  animation-name: fadein;
  animation-duration: .75s;
  animation-iteration-count: 1;
  -webkit-animation-name: fadein;
  -webkit-animation-duration: .75s;
  -webkit-animation-iteration-count: 1; }

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(48px);
    -webkit-transform: translateY(48px); }
  100% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px); } }
@-moz-keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(48px);
    -webkit-transform: translateY(48px); }
  100% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px); } }
@-o-keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(48px);
    -webkit-transform: translateY(48px); }
  100% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px); } }
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(48px);
    -webkit-transform: translateY(48px); }
  100% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px); } }
#mail.havemail:before {
  animation-name: toast;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-name: toast;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease; }

#mail.havemail:hover:before {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused; }

@-webkit-keyframes toast {
  0% {
    transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; }
  20% {
    transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; }
  25% {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    opacity: 1; }
  27% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1; }
  92% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1; }
  97% {
    transform: translateY(16px);
    -webkit-transform: translateY(16px);
    opacity: 1; }
  100% {
    transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; } }
@-o-keyframes toast {
  0% {
    transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; }
  20% {
    transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; }
  25% {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    opacity: 1; }
  27% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1; }
  92% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1; }
  97% {
    transform: translateY(16px);
    -webkit-transform: translateY(16px);
    opacity: 1; }
  100% {
    transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; } }
@-moz-keyframes toast {
  0% {
    transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; }
  20% {
    transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; }
  25% {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    opacity: 1; }
  27% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1; }
  92% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1; }
  97% {
    transform: translateY(16px);
    -webkit-transform: translateY(16px);
    opacity: 1; }
  100% {
    transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; } }
@keyframes toast {
  0% {
    transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; }
  20% {
    transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; }
  25% {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    opacity: 1; }
  27% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1; }
  92% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1; }
  97% {
    transform: translateY(16px);
    -webkit-transform: translateY(16px);
    opacity: 1; }
  100% {
    transform: translateY(76px);
    -webkit-transform: translateY(76px);
    opacity: 0; } }
@-webkit-keyframes upvote {
  0% {
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    opacity: 1; }
  45% {
    opacity: 1; }
  98% {
    opacity: 0; }
  100% {
    transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0; } }
@-moz-keyframes upvote {
  0% {
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    opacity: 1; }
  45% {
    opacity: 1; }
  98% {
    opacity: 0; }
  100% {
    transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0; } }
@-o-keyframes upvote {
  0% {
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    opacity: 1; }
  45% {
    opacity: 1; }
  98% {
    opacity: 0; }
  100% {
    transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0; } }
@keyframes upvote {
  0% {
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    opacity: 1; }
  45% {
    opacity: 1; }
  98% {
    opacity: 0; }
  100% {
    transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0; } }
body {
  background-color: #234080; }

body > .content {
  margin: 212px 332px 0 16px; }

#header-bottom-left {
  top: 164px; }

.content {
  border: 1px solid transparent; }

.link {
  background-color: #FFF; }

.linkflair .linkflairlabel {
  padding: 2px;
  border-radius: 0px;
  max-width: none; }

.linkflair-flair-yellow .linkflairlabel {
  background-color: #ff0;
  color: #444;
  border: 1px Solid #E2E200; }

.linkflair-flair-blue .linkflairlabel {
  background-color: #0072BC;
  color: #fff;
  border: 1px Solid #1D009B; }

.linkflair-flair-green .linkflairlabel {
  background-color: #041e42;
  color: #fff;
  border: 1px Solid #2CA243; }

.linkflair-flair-orange .linkflairlabel {
  background-color: #FF7F00;
  color: #fff;
  border: 1px Solid #C45E00; }

.linkflair-flair-red .linkflairlabel {
  background-color: #f00;
  color: #fff;
  border: 1px Solid #C20000; }

/* Current Rangers Roster */
/* (04) Raphael Diaz - Number Four (4) */
.flair-Diaz:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -212px -44px;
  width: 15px;
  height: 21px; }

/* (05) Dan Girardi - Number Five (5) */
.flair-Girardi:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -261px -44px;
  width: 13px;
  height: 21px; }

/* (06) Anton Stralman - Number Six (6) */
.flair-Stralman:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -308px -44px;
  width: 13px;
  height: 21px; }

/* (08) Kevin Klein - Number Eight (8) */
.flair-Klein:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -402px -44px;
  width: 13px;
  height: 21px; }

/* (10) JT Miller - Number Ten (10) */
.flair-Miller:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -11px -82px; }

/* (12) Jesper Fast - Number Twelve (12) */
.flair-Fast:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -96px -82px; }

/* (13) Dan Carcillo - Number Thirteen (13) */
.flair-Carcillo:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -140px -82px; }

/* (15) Derek Dorsett - Number Fifteen (15) */
.flair-Dorsett:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -229px -82px; }

/* (16) Derick Brassard - Number Sixteen (16) */
.flair-Brassard:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -272px -82px; }

/* (17) John Moore - Number Seventeen (17) */
.flair-JMoore:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -316px -82px; }

/* (18) Marc Staal - Number Eighteen (18) */
.flair-Staal:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -361px -82px; }

/* (19) Brad Richards - Number Nineteen (19) */
.flair-Richards:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -405px -82px; }

/* (20) Chris Kreider - Number Twenty (20)        */
.flair-Kreider:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -448px -82px; }

/* (21) Derek Stepan - Number Twenty-One (21) */
.flair-Stepan:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -11px -120px; }

/* (22) Brian Boyle - Number Twenty-Two (22) */
.flair-Boyle:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -55px -120px; }

/* (26) Martin St. Louis - Number Twenty-Six (26) */
.flair-StLouis:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -244px -120px; }

/* (27) Ryan McDonagh - Number Twenty-Seven (27) */
.flair-McDonagh:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -291px -120px; }

/* (28) Dominic Moore - Number Twenty-Eight (28) */
.flair-DMoore:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -338px -120px; }

/* (30) Henrik Lundqvist - Number Thirty (30) */
.flair-Lundqvist:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -432px -120px; }

/* (33) Cam Talbot - Number Thirty-Three (33) */
.flair-Talbot:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -102px -158px; }

/* (36) Matt Zuccarello - Number Twenty-Four (36) */
.flair-Zuccarello:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -244px -158px; }

/* (39) Ryan Haggerty - Number Thirty-Nine (39) */
.flair-Haggerty:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -385px -158px; }

/* (44) Justin Falk - Number Forty-Four (44) */
.flair-Falk:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -152px -196px; }

/* (61) Rick Nash - Number Sixty-One (61) */
.flair-Nash:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -10px -272px; }

/* (62) Carl Hagelin - Number Sixty-Two (62) */
.flair-Hagelin:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -55px -272px; }

/* (67) Benoit Pouliot - Number Sixty-Seven (67) */
.flair-Pouliot:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  background-position: -290px -272px; }

/* Retired Numbers */
/* (1) Eddie Giacomin - Number One (1) */
.flair-Giacomin:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 10px;
  height: 21px;
  background-position: -75px -44px; }

/* (2) Brian Leetch - Number Two (2) */
.flair-Leetch:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 13px;
  height: 21px;
  background-position: -119px -44px; }

/* (3) Harry Howell - Number Three (3) */
.flair-Howell:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 13px;
  height: 21px;
  background-position: -166px -44px; }

/* (7) Rod Gilbert - Number Seven (7) */
.flair-Gilbert:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 13px;
  height: 21px;
  background-position: -355px -44px; }

/* (9) Andy Bathgate/Adam Graves - Number Nine (9) */
.flair-Bathgate:before, .flair-Graves:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 13px;
  height: 21px;
  background-position: -449px -44px; }

/* (11) Mark Messier - Number Eleven (11) */
.flair-Messier:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 24px;
  height: 21px;
  background-position: -55px -82px; }

/* (35) Mike Richter - Number Thirty-Five (35) */
.flair-Richter:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 30px;
  height: 21px;
  background-position: -197px -158px; }

/* (99) Wayne Gretzky - Number Ninety-Nine (99) */
.flair-Gretzky:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 30px;
  height: 21px;
  background-position: -385px -386px; }

/* Rangers Logos */
.flair-NHLNewYorkRangers:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -20px -1155px; }

.flair-NHLNewYorkRangersLady:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -20px -1177px; }

.flair-NHLNewYorkRangersOld1:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 18px;
  height: 17px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -20px -1199px; }

.flair-NHLNewYorkRangersOld2:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 18px;
  height: 17px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -20px -1221px; }

.flair-NHLNewYorkRangersOld3:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -20px -1241px; }

/* Other team logos */
.flair-Toast:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -84px -735px; }

.flair-NHLLeagueLogo:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%nhl%%);
  vertical-align: middle;
  background-position: 0px 0px; }

.flair-NHLAnaheimDucks:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: 0px -1701px; }

.flair-NHLBostonBruins:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: 0px -1785px; }

.flair-NHLBuffaloSabres:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: 0px -1932px; }

.flair-NHLCalgaryFlames:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: 0px -1995px; }

.flair-NHLCarolinaHurricanes:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -21px -42px; }

.flair-NHLChicagoBlackhawks:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -21px -84px; }

.flair-NHLColoradoAvalanche:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -21px -168px; }

.flair-NHLColumbusBlueJackets:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -21px -210px; }

.flair-NHLDallasStars:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -83px -712px; }

.flair-NHLDetroitRedWings:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -21px -357px; }

.flair-NHLEdmontonOilers:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -21px -441px; }

.flair-NHLFloridaPanthers:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -21px -546px; }

.flair-NHLLosAngelesKings:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -21px -567px; }

.flair-NHLMinnesotaWild:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -21px -735px; }

.flair-NHLMontrealCanadiens:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -21px -798px; }

.flair-NHLNashvillePredators:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -21px -987px; }

.flair-NHLNewJerseyDevils:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -21px -1050px; }

.flair-NHLNewYorkIslanders:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -21px -1092px; }

.flair-NHLOttawaSenators:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -21px -1491px; }

.flair-NHLPhiladelphiaFlyers:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -21px -1575px; }

.flair-NHLPhoenixCoyotes:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -21px -1596px; }

.flair-NHLPittsburghPenguins:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -21px -1721px; }

.flair-NHLSanJoseSharks:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -21px -1827px; }

.flair-NHLStLouisBlues:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -21px -1911px; }

.flair-NHLTampaBayLightning:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -42px 0px; }

.flair-NHLTorontoMapleLeafs:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -42px -105px; }

.flair-NHLVancouverCanucks:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -42px -210px; }

.flair-NHLWashingtonCapitals:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -42px -336px; }

.flair-NHLWinnipegJets:before {
  display: inline-block;
  content: "";
  margin-right: 3px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(%%allteamflair%%);
  vertical-align: middle;
  background-position: -42px -420px; }

/*------------------END FLAIR OLD-----------------------*/
.single-page .morelink {
  top: 322px; }

.side {
  background-color: #fff;
  box-shadow: 2px 4px 3px transparent;
  margin: 290px 16px 0 0; }
  .side:hover {
    box-shadow: 2px 4px 3px #fff; }

#search {
  top: 176px; }

.morelink {
  top: 228px; }

.link {
  background-color: #fff;
  border: 1px solid transparent;
  margin: 8px 0;
  box-shadow: 2px 4px 3px transparent; }
  .link:hover {
    background-color: #EAF5FF;
    border: 1px solid #c7c7c7;
    box-shadow: 2px 4px 3px #C8C8C8; }
  .link .score.likes {
    color: #F5092A; }

.link.last-clicked {
  background-color: #E7E5DA; }

.thing.stickied a.title, .thing.stickied a, .thing.stickied .entry li .comments {
  color: #2F5594 !important; }

.thing .title.loggedin.click, .thing .title.click, .thing .title.loggedin, .thing .title {
  color: #2B4877; }

.entry .buttons li a {
  color: #6C0307; }
  .entry .buttons li a.comments {
    color: #DF011E; }

.commentarea > .usertext {
  background-color: #EAF5FF; }

.commentarea .sitetable .comment {
  background-color: #FFEAEA; }

html:not([lang="ns"]) .footer-parent {
  background: url("%%footerbg%%") no-repeat;
  height: 660px;
  background-position: bottom 0px center;
  background-size: 50%; }

@media only screen and (max-device-width: 737px) {
  .hide-mobile, .hide-mobile-inline {
    display: none; } }
@media only screen and (min-width: 768px) and (max-width: 1027px) {
  .hide-tablet, .hide-tablet-inline {
    display: none; } }
@media only screen and (min-width: 1029px) {
  .hide-mobile {
    display: block; }

  .hide-mobile-inline {
    display: inline-block; }

  .hide-tablet {
    display: block; }

  .hide-tablet-inline {
    display: inline-block; } }
