// ==========================================================================
// Grid Config / Resets
// Author: Mike Fortuna
// Description: Reuseable Grid + Browser Reset
// ==========================================================================


*, *:after, *:before {
  margin: 0;
  padding: 0;
  @include border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a img {
  border:none;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  &.img-fluid {
    width:100%;
  }
}

input[type="submit"] {
  -webkit-appearance: none;
}

.wrapper {
  width: 100%;
  padding:0 2em;
  @include mobile {
    padding:0 1em;
  }
}

.wrapper, .row {
  @extend %clearfix;
  &.center {
    @extend %center;
  }
}

.row {
  @include mobile {
    padding: 0;
  }
}

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
  &.center {
    @extend %center;
  }
}

@for $i from 1 through $grid-columns {
  .column-#{$i} {
    width: 100% / $grid-columns * $i;
  }
}

@media #{$mobile} {
  .wrapper {
    width: 95%;
    max-width: $grid-max-width;
  }
  @for $i from 1 through $grid-columns {
    .column-#{$i} {
      width: 100%;
    }
  }
}
