// ==========================================================================
// Responsive Settings
// Author: Mike Fortuna
// ==========================================================================

@media #{$mobile} {

  .hide-mobile, .hide-mobile-inline {
    display:none;
  }

}

@media #{$tablet} {

  .hide-tablet, .hide-tablet-inline {
    display:none;
  }

}

@media #{$tablet-portrait} {

}

@media #{$tablet-landscape} {

}

@media #{$mobile-portrait} {

}

@media #{$mobile-landscape} {

}

@media #{$desktop} {

  .hide-mobile {
    display:block;
  }

  .hide-mobile-inline {
    display:inline-block;
  }

  .hide-tablet {
    display:block;
  }

  .hide-tablet-inline {
    display:inline-block;
  }

}

@media #{$desktop-sm} {


}

@media #{$ie9-only} {

}

@media #{$ie10-up} {

}

// Firefox mixin
// usage:
// @include firefox {
//  bar: foo;
// }

@mixin firefox {
  @-moz-document url-prefix() {
    @content;
  }
}
